<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
<link rel="stylesheet" type="text/css" th:href="@{/css/estilo.css}">
<meta charset="UTF-8">
<title>Cursos</title>
</head>
<body>
<table>
<thead>
<th>Código</th>
<th>Grado</th>
<th>Grupo</th>
</thead>
<tr th:each="curso:${cursos}">
	<td><h6 th:text="${curso.CodCurso}"></h6></td>
	<td><h6 th:text="${curso.Grado}"></td>
	<td><h6 th:text="${curso.Grupo}"></td>
</tr>
</table>
</body>
</html>